a {
    color: blue;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration:none;
}

body{
    text-align:center;
    background-color: beige;
}

h1{
    margin-top: 1.7rem;
    font-size: 40px;
}

h2{
    color:dodgerblue;
    font-size: 25px;
    font-family: serif;
}


p {
    font-family:cursive;
    color: rgb(0, 0, 0);
}

.xyz{
    font-family:fantasy;
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px
}